.directorsRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  justify-content: start;
  padding: 3em 3em;
  /* background-image: url(../assets/runningbanner.jpeg); */
  /* background-image: linear-gradient(135deg, #000000, #737373); */
  background-color: #1c1b1b;

}
  
.bodPhoto {
  height: 140px;
  border-radius: 80px;
  -webkit-filter: grayscale(100%);
}

.bodSubRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 22vh;
  width: 100%;
}

.bodTitleRow {
  height: auto;
}

.bodTitle {
  font-family: Anton;
  font-size: 80px;

  color: #10ab08;

  padding: .3em .2em;

}

.bodTile {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  /* outline-style: dotted;
  outline-color: blue; */
}

.bodSubCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
}

.bodCentered1 {
  padding-left: 3vw;
}

.bodCentered2 {
  padding-left: 10vw;
}

.bodName {
  color: whitesmoke;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.bodPosition {
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 0;
  /* font-style: italic; */
}

.creditsRow {
  display: flex;

}

@media only screen and (min-width: 641px) and (max-width: 780px) {
  .desktopOnlyDOB {
    display: none;
  }

  .mobileOnlyDOB {
    display: flex;
    flex-direction: column;
  }

  .directorsRow {
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 5.5em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 0;
  }

  .directorsSubRow {
    flex-direction: column;
  }

  .bodTile {
    padding-top: 1em;
  }

  .bodTileRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 350px;

    padding-top: 1em;
  }

  .bodTitleRow {
    height: auto;
  }

  .bodTitle {
    height: auto;
    font-family: Anton;
    font-size: 70px;
  
    color: #10ab08;
  
    padding: 0;  
  }

}

@media only screen and (max-width: 640px) {
  .desktopOnlyDOB {
    display: none;
  }

  .mobileOnlyDOB {
    display: flex;
    flex-direction: column;
  }

  .bodCentered {
    margin-left: -5em;
  }
  .directorsRow {
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 5.5em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 0;
  }

  .directorsSubRow {
    flex-direction: column;
  }

  .bodTile {
    padding-top: 1em;
  }

  .bodTileRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding-top: 1em;
  }

  .bodTitleRow {
    height: auto;
  }

  .bodTitle {
    height: auto;
    font-family: Anton;
    font-size: 60px;
  
    color: #10ab08;
  
    padding: 0;  
  }

}


@media only screen and (min-width: 781px) {
  .desktopOnlyDOB {
    display: flex;
    flex-direction: row;
  }

  .mobileOnlyDOB {
    display: none;
  }

}

@media only screen and (max-width: 956px) and (max-height: 440px) {
  .directorsRow {
    height: 100%;
  }
}