.newsRow {
    height: 120vh;
    min-height: 1000px;
    width: 100vw;
    display: flex;
    background-color: #10ab08;
}

.newsCol {
    height: 100vh;
    min-height: 1000px;
    width: 50%;
    background-color: #10ab08;
    padding-left: 3em;
    padding-right: 5em;
    padding-top: 6em;
}

.newsCol2 {
    height: 120vh;
    min-height: 1000px;
    width: 50%;
    
    overflow: hidden;

    background-color: #10ab08;
}

.newsTitle {
    font-family: Anton;
    font-size: 100px;
    max-width: 1000px;
    line-height: 100px;

    color: #ffe500;

    padding-top: .5em;
    align-self: center;
}

.newsButton {
    height: 100px;
    width: 280px;
    min-width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;

    font-family: Anton;
    font-size: 35px;
    color: white;

    align-self: center;
    align-items: center;
}

.newsResultCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #10ab08;
    padding-left: 5em;
    padding-right: 5em;
}

.newsResultButton {
    height: 50px;
    width: 80%;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: whitesmoke;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;

    font-size: 20px;
    color: white;

    align-self: center;
    align-items: center;
    margin: 1.8em;
}

.newsResultText {
    font-size: 85px;
    line-height: 85px;
    letter-spacing: 4px;
    font-family: Anton;
    color: white;
    text-align: center;
}

.newsResultSubText {
    font-size: 35px;
    letter-spacing: 2px;
    font-family: Anton;
    color: white;
}


.innerwrapperNews {
    transform: rotate(5deg);
    transform-origin: 100vh 200vh;
    z-index: -1;


    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 1000px;

    background-size: auto 150vh;
    background-position: center;
}

.outerwrapperNews {
    transform: rotate(-5deg);
    transform-origin: 0vh 650vw;
    width: 100vw;
    height: 150vh;
    min-height: 1200px;

    overflow: hidden;

    background-image: linear-gradient(135deg, #000000, #737373);

    background-color: black;
}

.buttonRowKL {
    height: 100px;
    width: 280px;
    min-width: 100px;
    display: flex;
    justify-content: center;

    align-self: flex-start;
    align-items: center;
}

.newsImage {
    transform: rotate(5deg);
    transform-origin: 0vh 200vw;
    height: auto;
    width: 80vw;
    padding-top: 0vh;
    padding-left: 40vw;
}

.newsDescription {
    color: whitesmoke;
    font-size: 2.2em;
    line-height: 45px;
    width: 540px;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

@media only screen and (max-width: 599px) {
    .newsRow {
        height: 120vh;
        min-height: 960px;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .desktopOnlyNews {
        display: none;
    }

    .newsCol {
        height: 110vh;
        width: 100%;
        padding-left: 1em;
        padding-right: 1.5em;
        padding-top: 3em;
    }

    .newsBanner {
        height: 40vh;
        width: 100%;
        
        display: flex;
        align-items: flex-end;
        background-image: url(../assets/runningbanner.jpeg);
    }

    .newsTitle {
        font-family: Anton;
        font-size: 60px;
        line-height: 55px;
        color: #ffe500;

        padding-left: 0em;
        padding-top: 0em;
        padding-bottom: 0em;

        max-width: 100%;
    }

    .newsResultTitle {
        font-family: Anton;
        font-size: 70px;
        line-height: 65px;
        color: #ffe500;

        padding-left: 0em;
        padding-top: 0.5em;
        padding-bottom: 0.2em;

        max-width: 100%;
    }

    .newsDescription {
        color: whitesmoke;
        font-size: 18px;
        line-height: 35px;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;
    }

    .newsResultCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #10ab08;
        padding-top: 3em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .newsResultButton {
        height: 50px;
        width: 90%;
        min-width: 100px;
        background-color: rgba(0, 0, 0, 0);
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
    
        font-size: 20px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 0.8em;
    }

    .buttonRowNews {
        height: 100px;
        width: 100%;
        min-width: 100px;
        display: flex;
    
        align-items: left;
    }

    .newsButton {
        height: 60px;
        width: 100%;
        min-width: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-family: Anton;
        font-size: 35px;
        color: white;
    
        align-self: center;
        align-items: center;
    }

    .newsImageMobile {
        width: calc(100vw - 2em);
        object-fit: cover;
        padding-top: 5vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .newsRow {
        height: 140vh;
        min-height: 960px;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .desktopOnlyNews {
        display: none;
    }

    .newsCol {
        height: 110vh;
        width: 100%;
        padding-left: 1em;
        padding-right: 1.5em;
        padding-top: 3em;
    }

    .newsBanner {
        height: 40vh;
        width: 100%;
        
        display: flex;
        align-items: flex-end;
        background-image: url(../assets/runningbanner.jpeg);
    }

    .newsTitle {
        font-family: Anton;
        font-size: 13vw;
        line-height: 55px;
        color: #ffe500;

        padding-left: 0em;
        padding-top: 5vh;
        padding-bottom: 0em;

        max-width: 100%;
    }

    .newsResultTitle {
        font-family: Anton;
        font-size: 70px;
        line-height: 65px;
        color: #ffe500;

        padding-left: 0em;
        padding-top: 0.5em;
        padding-bottom: 0.2em;

        max-width: 100%;
    }

    .newsDescription {
        color: whitesmoke;
        font-size: 18px;
        line-height: 35px;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;
    }

    .newsResultCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: #10ab08;
        padding-top: 3em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .newsResultButton {
        height: 50px;
        width: 90%;
        min-width: 100px;
        background-color: rgba(0, 0, 0, 0);
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
    
        font-size: 20px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 0.8em;
    }

    .buttonRowNews {
        height: 100px;
        width: 100%;
        min-width: 100px;
        display: flex;
    
        align-items: left;
    }

    .newsButton {
        height: 60px;
        width: 100%;
        min-width: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-family: Anton;
        font-size: 35px;
        color: white;
    
        align-self: center;
        align-items: center;
    }

    .newsImageMobile {
        width: calc(85vw - 2em);
        object-fit: cover;
        padding-top: 5vh;
        padding-left: 15vw;
    }
}



@media only screen and (min-width: 1000px) and (max-width: 1502px) {
    .mobileOnlyNews {
        display: none;
    }

    .newsRow {
        max-height: 100vh;
        width: 100vw;
        display: flex;
        background-color: #10ab08;
        overflow: hidden;
    }

    .newsTitle {
        font-family: Anton;
        font-size: 70px;
        max-width: 1000px;
        line-height: 70px;
    
        color: #ffe500;
    
        padding-top: .5em;
        align-self: center;
    }

    .newsCol {
        height: 100vh;
        width: 50%;
        background-color: #10ab08;
        padding-left: 3em;
        padding-right: 5em;
        padding-top: 6em;
    }

    .innerwrapperNews {
        transform: rotate(5deg);
        transform-origin: 100vh 200vw;
        z-index: -1;
    
    
        overflow: hidden;
        width: 100%;
        height: 100%;
    
        background-image: linear-gradient(135deg, #000000, #737373);
        background-size: auto 150vh;
        background-position: center;

    }
    
    .outerwrapperNews {
        transform: rotate(-5deg);
        transform-origin: 0vh 650vw;
        width: 100vw;
        height: 150vh;
        overflow: hidden;
    
        background-color: black;
    }

    .newsDescription {
        text-align: left;
        font-size: calc(15px + 0.8vw);
        max-width: fit-content;
    }

    .newsResultCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/kenLake.jpeg);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .newsImage {
        padding-top: 10vh;
    }
}

@media only screen and (min-width: 1000px) {
    .mobileOnlyNews {
        display: none;
    }

    .newsResultCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/kenLake.jpeg);
        background-size: auto 100%;
        background-position: -700px;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}