.contactRow {
  height: 100vh;
  width: 100vw;

  background-image: url(../assets/runningbanner.jpeg);
  background-size: 1920px 120vh;

  display: flex;
  justify-content: flex-start;
  padding: 0 0;
}
  
.contactCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding-left: 3em;
  padding-right: 0em;

}

.contactTitle {
  font-family: Anton;
  font-size: 140px;
  max-width: 100vh;

  color: #10ab08;

  padding-top: .9em;
  padding-left: .45em;
}

.contactText {
  color: whitesmoke;
  font-size: 32px;
  max-width: 800px;
  line-height: 40px;

  padding-top: 3.5em;

}

.contactDisclaimer {
  color: whitesmoke;
  font-size: 25px;
  align-self: flex-end;
}

.disclaimerBox {
  width: 400px;
  display: flex;

  padding-left: 3em;
  padding-bottom: 8em;
}

@media only screen and (max-width: 640px) {
  .contactRow {
    min-height: 110vh;
    height: auto;
  }
  
  .contactColRight {
    display: none;
  }

  .contactCol {
    width: 100%;
    height: 100%;
    padding-left: 1em;
    padding-right: 0em;
  
  }

  .contactTitle {
    font-family: Anton;
    font-size: 19vw;
    max-width: 1000px;
  
    color: #10ab08;
  
    padding: .1em .2em;
    padding-top: .8em;
  }

  .contactDisclaimer {
    color: whitesmoke;
    font-size: 5vw;
    align-self: flex-end;
  }

  .disclaimerBox {
    width: 100%;
    display: flex;
    padding: 100px 0px;
    align-self: self-end;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1460px) {
  .contactCol {
    width: 100%;
    padding-left: 0.5em;
  }

  .contactTitle {
    font-size: 120px;
  }

  .contactColRight {
    display: none;
  }

}

@media only screen and (min-width: 1015px) {
  .contactColRight {
    width: 50%;
    height: 100%;
    padding-left: 3em;
    padding-right: 2em;
    padding-top: 6em;
  }
}