.contactRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 80vh;
    justify-content: center;
    padding: 3em 3em;
    /* border-style: dashed; */
    background-color: #ebece91f;
  }
  
  .contactQuestionsCol {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 40%;
    padding-top: 3em;
    margin: 3em;
    /* border-style: dashed; */
    justify-content: center;
  
  }
  
  .contactPhotoCol {
    height: 85%;
    width: 50%;
    /* border-style: dashed; */
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }
  
  .contactInfoSubCol {
    height: 100%;
    width: 100%;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 3em;
    align-self: center;
  }
  
  .contactImage {
    padding-top: 3em;
    width: 70%;
    height: fit-content;
    min-width: 350px;
    align-self: center;
  }

  .contactTitle {
    min-width: 100%;
  }

  .contactTitleSubCol {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* border-style: dashed; */
    justify-content: space-around;
  }

  .hrContact {
    align-self: left;
    width: 50%;
  }