.grRow {
    height: 100vh;
    display: flex;
}

.grCol {
    height: 100vh;
    width: 50%;
    background-color: #10ab08;

    transform: rotate(-10deg);

}

.grCol2 {
    height: 100vh;
    width: 50%;
    background-image: url(../assets/runningbanner.jpeg);
}

