.grRow {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.grCol {
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
    padding-left: 4.5em;
    padding-right: 4em;
}


.grCol2 {
    height: 100vh;
    width: 50%;

    overflow: hidden;

    background-color: #10ab08;
}

.grTitle {
    font-family: Anton;
    font-size: 130px;
    max-width: 1000px;

    color: #ffe500;

    padding-top: .5em;
    align-self: center;
}

.grButton {
    height: 60px;
    width: 200px;
    min-width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;

    font-family: Anton;
    font-size: 30px;
    color: white;

    align-self: center;
    align-items: center;
    margin: 1em;
}

.grResultCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
    padding-left: 5em;
    padding-right: 5em;
}

.grResultButton {
    height: 50px;
    width: 80%;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: whitesmoke;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;

    font-size: 20px;
    color: white;

    align-self: center;
    align-items: center;
    margin: 1em;
}

.grResultText {
    font-family: Anton;
    color: white;
}

.grResultSubText {
    font-family: Anton;
    color: white;
}


.innerwrapperGR {
    transform: rotate(5deg);
    transform-origin: 0% -10vw;

    overflow: hidden;
    width: 100%;
    height: 100%;

    background-image: url(../assets/runningbanner.jpeg);
    background-size: auto 150vh;
}

.outerwrapperGR {
    transform: rotate(-5deg);
    transform-origin: 0% -10vw;
    width: 100vw;
    height: 150vh;
    overflow: hidden;

    background-color: pink;
}

.resultDescription {
    color: whitesmoke;
    font-size: 1.5em;
    padding-top: 4em;
    padding-bottom: 4em;
}

.buttonRowGR {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
    .grRow {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .desktopOnly {
        display: none;
    }

    .grCol {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .grBanner {
        height: 40vh;
        width: 100%;

        display: flex;
        align-items: flex-end;
        background-image: url(../assets/runningbanner.jpeg);
    }

    .grTitle {
        font-family: Anton;
        font-size: 60px;
        color: #ffe500;

        padding-left: 0.25em;

        max-width: 100%;
    }

    .resultDescription {
        color: whitesmoke;
        font-size: 18px;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .grResultCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #10ab08;
        padding-top: 2em;
        padding-left: 5em;
        padding-right: 5em;
    }

    .grResultButton {
        height: 50px;
        width: 100%;
        min-width: 100px;
        background-color: rgba(0, 0, 0, 0);
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
    
        font-size: 20px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 0.8em;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1460px) {
    .mobileOnly {
        display: none;
    }

    .grTitle {
        font-family: Anton;
        font-size: calc(24px + 6vw);
        color: #ffe500;

        padding-left: 0.5em;
        text-align: left;

        max-width: 100%;
    }

    .grCol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    .resultDescription {
        padding-left: 2em;
        text-align: left;
        font-size: calc(15px + 0.8vw);
    }

    .grResultsCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/eventbackground.png);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 641px) {
    .mobileOnly {
        display: none;
    }

    .grResultsCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/eventbackground.png);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}