.grRow {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.grCol {
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
}


.grCol2 {
    height: 100vh;
    width: 50%;

    overflow: hidden;

    background-color: #10ab08;

}


.innerwrapperGR {
    transform: rotate(10deg);
    transform-origin: 0% -10vw;

    overflow: hidden;
    width: 100%;
    height: 100%;

    background-image: url(../assets/runningbanner.jpeg);
    background-size: auto 150vh;
}

.outerwrapperGR {
    transform: rotate(-10deg);
    transform-origin: 0% -10vw;
    width: 100vw;
    height: 150vh;
    overflow: hidden;

    background-color: pink;
}