.klRow {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.klCol {
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
}

.klCol2 {
    height: 100vh;
    width: 50%;
    background-image: url(../assets/runningbanner.jpeg);
}
