.klRow {
    height: 120vh;
    width: 100vw;
    display: flex;
    background-color: #10ab08;
}

.klCol {
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
    padding-left: 11em;
    padding-right: 5em;
    padding-top: 3em;
}

.klCol2 {
    height: 120vh;
    width: 50%;
    
    overflow: hidden;

    background-color: #10ab08;
}

.klTitle {
    font-family: Anton;
    font-size: 140px;
    max-width: 1000px;
    line-height: 140px;

    color: #ffe500;

    padding-top: .5em;
    align-self: center;
}

.klButton {
    height: 100px;
    width: 280px;
    min-width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;

    font-family: Anton;
    font-size: 35px;
    color: white;

    align-self: center;
    align-items: center;
}

.klResultCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-color: #10ab08;
    padding-left: 5em;
    padding-right: 5em;
}

.klResultButton {
    height: 50px;
    width: 80%;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: whitesmoke;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;

    font-size: 20px;
    color: white;

    align-self: center;
    align-items: center;
    margin: 2em;
}

.klResultText {
    font-size: 85px;
    line-height: 85px;
    letter-spacing: 4px;
    font-family: Anton;
    color: white;
}

.klResultSubText {
    font-size: 35px;
    letter-spacing: 2px;
    font-family: Anton;
    color: white;
}


.innerwrapperKL {
    transform: rotate(5deg);
    transform-origin: 100vh 100vw;
    z-index: -1;


    overflow: hidden;
    width: 100%;
    height: 100%;

    background-image: url(../assets/kenLake.jpeg);
    background-size: auto 150vh;
}

.outerwrapperKL {
    transform: rotate(-5deg);
    transform-origin: 0vh 650vw;
    width: 100vw;
    height: 150vh;
    overflow: hidden;

    background-color: pink;
}

.buttonRowKL {
    height: 100px;
    width: 280px;
    min-width: 100px;
    display: flex;
    justify-content: center;

    align-self: flex-start;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    .klRow {
        min-height: 110vh;
        height: auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .desktopOnly {
        display: none;
    }

    .klCol {
        height: 110vh;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .klBanner {
        height: 40vh;
        width: 100%;
        
        display: flex;
        align-items: flex-end;
        background-image: url(../assets/runningbanner.jpeg);
    }

    .klTitle {
        font-family: Anton;
        font-size: 70px;
        line-height: 65px;
        color: #ffe500;

        padding-left: 0em;
        padding-top: 0em;

        max-width: 100%;
    }

    .resultDescription {
        color: whitesmoke;
        font-size: 18px;
        line-height: 35px;
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100%;
    }

    .klResultCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #10ab08;
        padding-top: 2em;
        padding-left: 5em;
        padding-right: 5em;
    }

    .klResultButton {
        height: 50px;
        width: 100%;
        min-width: 100px;
        background-color: rgba(0, 0, 0, 0);
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
    
        font-size: 20px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 0.8em;
    }

    .buttonRowKL {
        height: 100px;
        width: 100%;
        min-width: 100px;
        display: flex;
    
        align-items: left;
    }

    .klButton {
        height: 60px;
        width: 100%;
        min-width: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-family: Anton;
        font-size: 35px;
        color: white;
    
        align-self: center;
        align-items: center;
    }

    .eventImage {
        width: 100%;
        height: 400px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1325px) {
    .mobileOnly {
        display: none;
    }

    .klTitle {
        font-family: Anton;
        font-size: calc(11vw);
        max-width: 1000px;
        line-height: 11vw;
    
        color: #ffe500;
    
        padding-top: .5em;
        align-self: center;
    }

    .klCol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;

        padding-left: 0em;
    }

    .outerwrapperKL {
        transform-origin: 0vh 800vw;
    }

    .innerwrapperKL {
        transform-origin: 100vh 200vh;
    }

    .resultDescription {
        text-align: left;
        font-size: calc(15px + 0.8vw);
        line-height: calc(20px + 0.8vw);
        width: 40vw;
    }

    .klResultsCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/eventbackground.png);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1325px) and (max-width: 1502px) {
    .mobileOnly {
        display: none;
    }

    .klTitle {
        font-family: Anton;
        font-size: 130px;
        max-width: 1000px;
        line-height: 130px;
    
        color: #ffe500;
    
        padding-top: .5em;
        align-self: center;
    }

    .klCol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;

        padding-right: 4em;
    }

    .innerwrapperKL {
        transform: rotate(6deg);
        transform-origin: 100vh 150vw;
        z-index: -1;
    
    
        overflow: hidden;
        width: 100%;
        height: 100%;
    
        background-image: url(../assets/kenLake.jpeg);
        background-size: auto 150vh;
    }
    
    .outerwrapperKL {
        transform: rotate(-6deg);
        transform-origin: 0vh 650vw;
        width: 100vw;
        height: 150vh;
        overflow: hidden;
    
        background-color: pink;
    }

    .resultDescription {
        text-align: left;
        font-size: calc(15px + 0.8vw);
    }

    .klResultsCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/eventbackground.png);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 641px) {
    .mobileOnly {
        display: none;
    }

    .klResultsCol2 {
        width: 50%;
        height: 100%;

        background-image: url(../assets/eventbackground.png);
        background-size: 960px 100vh;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}