@import "../fonts/fonts.css";

.programsRow {
    background-color: #10ab08;
    width: 100vw;
}

.programTitle {
    font-family: Anton;
    font-size: 130px;
    max-width: 1000px;

    color: #ffe500;

    padding-top: .5em;
    align-self: center;
}

.description {
    font-size: 30px;
    color: whitesmoke;

    max-width: 800px;
    padding-top: 6em;
    align-self: center;
}

.buttonRow {
    padding-top: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.programButton {
    height: 60px;
    width: 200px;
    min-width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;

    font-family: Anton;
    font-size: 30px;
    color: white;

    align-self: center;
    align-items: center;
    margin: 1em;
}

@media only screen and (max-width: 640px) {
    .programsRow {
        background-color: #10ab08;
        height: 110vh;
        padding-top: 10vh;
    }

    .programTitle {
        font-family: Anton;
        font-size: 70px;
        max-width: 1000px;
    
        color: #ffe500;
    
        padding-top: 0.75em;
        align-self: center;
    }

    .description {
        font-size: 17px;
        color: whitesmoke;
    
        max-width: 800px;
        padding-top: 1em;
        align-self: center;
    }

    .buttonRow {
        padding-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .programButton {
        height: 60px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-size: 25px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 0.1em;
    }
}

@media only screen and (min-width: 641px) {
    .programsRow {
        background-color: #10ab08;
        width: 100vw;
    }
    
    .programTitle {
        font-family: Anton;
        font-size: 110px;
        max-width: 1000px;
    
        color: #ffe500;
    
        padding-top: 1em;
        align-self: center;
    }
    
    .description {
        font-size: 25px;
        color: whitesmoke;
        text-align: center;
    
        max-width: 750px;
        padding-top: 5em;
        align-self: center;
    }
    
    .buttonRow {
        padding-top: 8em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .programButton {
        height: 60px;
        width: 200px;
        min-width: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-family: Anton;
        font-size: 30px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 1em;
    }
}


@media only screen and (min-width: 1000px) {
    .programsRow {
        background-color: #10ab08;
        width: 100vw;
    }
    
    .programTitle {
        font-family: Anton;
        font-size: 140px;
        max-width: 1000px;
    
        color: #ffe500;
    
        padding-top: .4em;
        align-self: center;
    }
    
    .description {
        font-size: 33px;
        color: whitesmoke;
        text-align: center;
    
        max-width: 1000px;
        padding-top: 7em;
        align-self: center;
    }
    
    .buttonRow {
        padding-top: 7em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .programButton {
        height: 100px;
        width: 325px;
        min-width: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
    
        font-family: Anton;
        font-size: 40px;
        color: white;
    
        align-self: center;
        align-items: center;
        margin: 1em;
    }
}