.registrationRow {
    height: 100vh;
    width: 100vw;

    background-image: url(../assets/runningbanner.jpeg);
    background-size: 1920px 100vh;
    
    display: flex;
    justify-content: flex-start;
    padding: 0 0;
}

.registrationCol {
    width: 50%;
    height: 100%;
    padding-left: 3em;
    padding-right: 3em;
}

.subRow {
    width: 100%;
    display: flex;
    flex-direction: row;

    padding-top: 3em;
}

.registrationTitle {
    font-family: Anton;
    font-size: 130px;
    max-width: 1000px;

    color: #10ab08;

    padding: .3em .2em;
}

.programName {
    font-family: Anton;
    color: #ffe500;
    width: 150px;
}

.registrationText {
    color: whitesmoke;
    font-size: 25px;
}

.disclaimerBox {
    height: 50%;
    width: 400px;
    display: flex;
    align-self: self-end;

    padding-left: 3em;
}

@media only screen and (max-width: 640px) {
    .registrationDisclaimerDesktop {
        display: none;
    }

    .registrationDisclaimerMobile {
        width: 90%;
        display: flex;

        color: whitesmoke;
        font-size: 17px;
        align-self: flex-end;

        margin-top: 2em;
    }

    .registrationRow {
        height: auto;
        width: 100vw;
    
        background-image: url(../assets/runningbanner.jpeg);
        background-size: auto 100%;
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        padding-top: 1em;
    }

    .registrationCol {
        width: 100%;
        height: 100%;
        padding-left: 0em;
        padding-right: 0em;
        margin-bottom: 0em;
    }

    .registrationCol2 {
        width: 100%;
        height: 100%;
        padding-left: 1em;
        padding-right: 0em;
        margin-bottom: 0em;
    }

    .registrationTitle {
        font-family: Anton;
        font-size: 70px;
        max-width: 1000px;
    
        color: #10ab08;

        padding-top: 1em;
    }

    .subRow {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        padding-top: 3em;
    }

    .programName {
        font-family: Anton;
        font-size: 40px;
        color: #ffe500;
        width: 100%;
    }

    .registrationText {
        color: whitesmoke;
        font-size: 20px;
    }
  }

@media only screen and (min-width: 640px) {
    .registrationDisclaimerDesktop {
        color: whitesmoke;
        font-size: 25px;
        align-self: flex-end;
    }

    .registrationDisclaimerMobile {
        display: none;
    }
}