.teamRow {
    height: 115vh;
    width: 100vw;
    display: flex;

    background-image: linear-gradient(135deg, #000000, #737373);
}

.teamImageCol {
    width: 60%;
    display: flex;
    align-items: center;
}

.teamTextCol {
    height: 100%;
    width: 45%;
    min-width: 400px;
    padding-top: 9em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    background-color: #000000a9;
}

.teamTextSubCol {
    height: 100%;
    width: 550px;
    padding-right: 4vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.teamName {
    font-family: Anton;
    color: #10ab08;
    margin-bottom: 1em;
}

.teamText {
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 0.5em;
    width: auto;
}

.teamButton {
    height: 60px;
    width: 200px;
    min-width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;

    margin-top: 2em;

    font-family: Anton;
    font-size: 30px;
    color: white;

    align-items: center;
}


@media only screen and (max-width: 640px) {
    .teamsDesktop {
        display: none;
    }

    .teamRow {
        flex-direction: column;
        align-content: start;
        height: auto;
        padding-bottom: 0vh;
    }

    .teamImageCol {
        width: 100vw;
    }

    .teamImage {
        width: 100vw;
        height: auto;

        margin: 0;
        margin-top: 10vh;
    }

    .teamTextCol {
        width: 100vw;
        padding-left: 1em;
        padding-top: 2em;
        padding-bottom: 3em;
    }

    .teamButton {
        width: 95%;
        margin-top: 0.5em;
    }
}

@media only screen and (min-width: 641px) {
    .teamsMobile {
        display: none;
    }

    .teamImage {
        width: 80vw;
        min-width: 1200px;
        margin-left: 0%;
        object-fit: fill;
    }
}

@media only screen and (max-width: 956px) and (max-height: 440px) {
    .teamRow {
        height: 100%;
    }

    .teamImage {
        height: 100%;
    }

    .teamButton {
        margin-bottom: 10vh;
    }
}