#root {
  margin: 0 auto;
  text-align: left;
}

body {
  background-color: #d4e6d1;
}

.homeBody {
  height: 90vh;
  align-content: center;
  justify-content: center;
  display: grid; /* set as grid to fix hosted formatting issue with edge */
}

.homePage {
  width: 100vw;
}

button {
  background-color: aliceblue;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.banner {
  width: 100%;
}

#bodyProgramCards {
  align-self: center;
}

.cardText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centerSocials {
  justify-content: center;
  display: flex;
  min-width: 100%;
}

.contactRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding: 3em 3em;
  background-color: #e4e2bf;
}

.directorsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding: 3em 3em;
  background-color: #e4e2bf;
}

hr {
  align-self: left;
  width: 100%;
}

.fullHr {
  align-self: center;
  width: 90%;
}

.introRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 30vh;
  justify-content: left;
  padding: 3em 3em;
  background-color: #d4e6d1;
}

.programCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-width: 500px;
  margin-bottom: 1em;
}

.programCardLong {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  padding-bottom: 1em;
}

.programsCardsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1em;
}

.programCardText {
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.programsRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  justify-content: left;
  padding: 3em 3em;
  background-color: #ebece91f;
}

.registrationRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  padding: 3em 3em;
  background-color: #0D6E23;
}

.resultsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding: 3em 3em;
  background-color: #c5e4bf;
}