body {
  flex-direction: column;
  justify-content: flex-start;
  background-color: darkslategray;
}

#root {
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: darkslategray;
}

.titleText {
  align-content: left;
}
